<section>
    <div class="ui text container middleContainer">
        <div class="ui raised segments">
            <div class="ui center aligned inverted segment">
                <div class="ui center aligned inverted segment">
                    <img src="https://img.icons8.com/cute-clipart/64/000000/sad.png" />
                </div>
            </div>
            <div class="ui center aligned inverted segment">
                <h2>Something went wrong</h2>
            </div>
            <div class="ui center aligned inverted segment">
                <a href="javascript:history.back()" class="ui button teal inverted">Back</a>
                <a href="?page=home" class="ui button teal inverted">Home</a>
            </div>
            <div class="ui secondary inverted segment">
                All rights reserved
            </div>
        </div>
    </div>
</section>