<section>
    <div class="ui text container middleContainer">
        <div class="ui segments innerContainer">
            <div class="ui center aligned inverted segment">
                <i class="huge user circle icon"></i>
                <h3>Login</h3>
                <p>Don't have an account? <a href="">Register</a></p>
            </div>
            <div class="ui inverted segment">
                <div class="ui stackable two column grid">
                    <div class="column">
                        <div class="ui clearing inverted segment">
                            <div class="ui inverted form">
                                <div class="field">
                                    <label for="">User Name</label>
                                    <input type="text" name="" id="">
                                </div>
                                <div class="field">
                                    <label for="">Password</label>
                                    <input type="password" name="" id="">
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="" id="">
                                        <label for="">Show password</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="" id="">
                                        <label for="">I agree with the <a href="">terms and conditions</a></label>
                                    </div>
                                </div>
                                <div class="ui right floated buttonPrimaryColor button">Login</div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segments">
                            <div class="ui inverted segment">
                                <div class="ui segment">
                                    <i class="big google icon"></i>
                                    <span>Sign in with Google</span>
                                </div>
                            </div>
                            <div class="ui inverted segment">
                                <div class="ui segment">
                                    <i class="big facebook icon"></i>
                                    <span>Sign in with Facebook</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui secondary inverted segment">
                All rights reserved
            </div>
        </div>
    </div>
</section>