<section>
    <div class="ui text container middleContainer">
        <div class="ui segments innerContainer">
            <div class="ui center aligned inverted segment">
                <i class="huge user circle icon"></i>
                <h3 class="ui header">Login</h3>
                <p>Don't have an account? <a href="?page=login&method=register" class="linkColor"><b>Register</b></a>
                </p>
            </div>

            <div class="ui inverted segment">
                {%if message != ""%}
                {%if updated == 0%}
                <div class="ui inverted red clearing segment">
                    <i class="warning icon"></i>
                    {{message}}
                    {%if verified == 0%}
                    <a class="ui right floated button" href="#">Verify</a>
                    {%endif%}
                </div>
                {%else%}
                <div class="ui inverted green clearing segment">
                    <i class="warning icon"></i>
                    {{message}}
                    {%set updated=0%}
                </div>
                {%endif%}
                {%endif%}

                <div class="ui stackable two column grid">
                    <div class="column">
                        <div class="ui clearing inverted segment">
                            <form class="ui inverted form loginForm" name="formLogin" action="?page=login&method=login"
                                method="POST">
                                <div class="ui error message"></div>

                                <div class="field">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username">
                                </div>
                                <div class="field">
                                    <label for="password">Password</label>
                                    <input class="password" type="password" name="password" id="password">
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" onclick="showPass()" name="showPassword"
                                            id="showPassword">
                                        <label for="showPassword">Show password</label>
                                    </div>
                                </div>
                                <div class="ui stackable grid">
                                    <div style="padding-top: 25px;" class="fourteen wide column">
                                        <a class="linkColor" href="?page=login&method=pickUser">
                                            <h4>Forgot your password?</h4>
                                        </a>
                                    </div>
                                    <div class="two wide column">
                                        <button class="ui right floated teal submit button">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segments">
                            <div class="ui inverted segment">
                                <div class="ui segment">
                                    <i class="big google icon"></i>
                                    <span>Sign in with Google</span>
                                </div>
                            </div>
                            <div class="ui inverted segment">
                                <div class="ui segment">
                                    <i class="big facebook icon"></i>
                                    <span>Sign in with Facebook</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui secondary inverted segment">
                All rights reserved
            </div>
        </div>
    </div>
</section>