<section>
    <div class="ui container">
        <div class="ui form">
            <div class="ui placeholder segment">
                <div class="ui two column stackable center aligned grid">
                    <div class="ui vertical divider">Or</div>
                    <div class="middle aligned row">
                        <div class="column">
                            <div class="ui icon header">
                                <i class="user icon"></i>
                                Login
                            </div>
                            <div class="field">
                                <div class="input">
                                    <input class="prompt" type="text" placeholder="User Name...">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input">
                                    <input class="prompt" type="password" placeholder="password">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui icon header">
                                <i class="world icon"></i>
                                Add New Country
                            </div>
                            <div class="ui primary button">
                                Create
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>