<section>
    <div class="ui text container middleContainer">
        <div class="ui segments innerContainer">
            <div class="ui center aligned inverted segment">
                <i class="huge user circle icon"></i>
                <h3 class="ui header">Password Reset</h3>
            </div>
            <div class="ui inverted segment">
                <a href="javascript:history.back()" class="ui button teal inverted">Back</a>
                <a href="?page=Login" class="ui button teal inverted">Login</a>
            </div>
            <div class="ui inverted clearing segment">
                <h3>We'll send you an email with your username and a code to reset your password.</h3>

                {%if message != ""%}
                <div class="ui inverted red clearing segment">
                    <i class="warning icon"></i>
                    {{message}}
                </div>
                {%set message=''%}
                {%endif%}

                <form class="ui inverted small form pickUserForm" action="?page=login&method=sendResetCode"
                    method="POST" id="pickUserForm" name="pickUserForm">
                    <div class="ui error message"></div>
                    <div class="field">
                        <label for="username">Username</label>
                        <input value="{{enteredData.username}}" type="text" name="username" id="username">
                    </div>
                    <button class="ui right floated teal submit button">Send</button>
                </form>
            </div>
            <div class="ui secondary inverted segment">
                All rights reserved
            </div>
        </div>
    </div>
</section>