<section>
    <div class="ui text container middleContainer">
        <div class="ui segments innerContainer">
            <div class="ui center aligned inverted segment">
                <i class="huge user circle icon"></i>
                <h3 class="ui header">Register</h3>
                <p>Already have an account? <a href="?page=login" class="linkColor"><b>Login</b></a></p>
            </div>
            <div class="ui inverted segment">
                {%if message != ""%}
                <div class="ui inverted red segment">
                    <i class="exclamation circle icon"></i>
                    {{message}}
                    {%set message=''%}
                </div>
                {%endif%}

                <div class="ui stackable column centered grid">
                    <div class="column">
                        <div class="ui clearing inverted segment">
                            <form class="ui inverted small form registerForm" name="formRegister"
                                action="?page=login&method=save" method="POST">
                                <div class="ui error message"></div>
                                <div class="field">
                                    <label for="username">User Name</label>
                                    <input name="username" type="text" id="username">
                                </div>
                                <div class="field">
                                    <label for="email">E-mail</label>
                                    <input name="email" type="email" id="email">
                                </div>
                                <div class="field">
                                    <label for="password">Password</label>
                                    <input class="password" name="password" type="password" id="password">
                                </div>
                                <div class="field">
                                    <label for="passwordRetyped">Retype password</label>
                                    <input class="password" name="passwordRetyped" type="password" id="passwordRetyped">
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" onclick="showPass()" name="showPassword"
                                            id="showPassword">
                                        <label name="showPassword" for="showPassword">Show password</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="terms" id="terms">
                                        <label name="terms" for="terms">I agree with the <a href="#!"
                                                class="linkColor">terms and
                                                conditions</a></label>
                                    </div>
                                </div>
                                <button class="ui right floated teal submit button">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui secondary inverted segment">
                All rights reserved
            </div>
        </div>
    </div>
</section>