<section>
    <div class="ui text container middleContainer">
        <div class="ui segments innerContainer">
            <div class="ui center aligned inverted segment">
                <i class="huge user circle icon"></i>
                <h3 class="ui header">Register</h3>
                <p>Already have an account? <a href="?page=login" class="linkColor"><b>Login</b></a></p>
            </div>
            <div class="ui inverted segment">
                <div class="ui stackable two column grid">
                    <div class="column">
                        <div class="ui clearing inverted segment">
                            <form name="formLogin" action="?page=login&method=save" method="POST">
                                <div class="ui inverted small form">
                                    <div class="field">
                                        <label for="username">User Name</label>
                                        <input name="username" type="text" name="" id="username">
                                    </div>
                                    <div class="field">
                                        <label for="email">E-mail</label>
                                        <input name="email" type="email" name="" id="email">
                                    </div>
                                    <div class="field">
                                        <label for="password">Password</label>
                                        <input name="password" type="password" name="" id="password">
                                    </div>
                                    <div class="field">
                                        <label for="passwordRetyped">Retype password</label>
                                        <input name="passwordRetyped" type="password" name="" id="passwordRetyped">
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="showPass" id="showPass">
                                            <label name="showPassword" for="showPass">Show password</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="terms" id="terms">
                                            <label name="terms" for="terms">I agree with the <a href=""
                                                    class="linkColor">terms and
                                                    conditions</a></label>
                                        </div>
                                    </div>
                                    <button class="ui right floated teal button" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="column loginAltenative">
                        <div class="ui segments">
                            <div class="ui inverted segment">
                                <div class="ui segment">
                                    <i class="big google icon"></i>
                                    <span>Register with Google</span>
                                </div>
                            </div>
                            <div class="ui inverted segment">
                                <div class="ui segment">
                                    <i class="big facebook icon"></i>
                                    <span>Register with Facebook</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui secondary inverted segment">
                All rights reserved
            </div>
        </div>
    </div>
</section>