<section>
    <div class="ui text container middleContainer">
        <div class="ui segments innerContainer">
            <div class="ui center aligned inverted segment">
                <i class="massive envelope outline icon"></i>
            </div>
            <div class="ui inverted segment">
                <div class="ui center aligned inverted segment">
                    <h2 class="header">We have sent an email to <span class="linkColor">{{email}}</span></h2>
                </div>
                <div class="ui center aligned inverted segment">
                    <a href="?page=Login" class="ui button teal inverted">Login</a>
                    <a href="?page=Login&method=register" class="ui button teal inverted">Register</a>
                </div>
            </div>
            <div class="ui secondary inverted segment">
                All rights reserved
            </div>
        </div>
    </div>
</section>