body{
    background-color: #ecfbff;
    background-repeat: no-repeat;
}

/*Link customization*/
.linkColor{
    color: #e79c25;
}

a:hover{
    color: #e79c25;
}
/*-------------------*/
 
/*Alternative login div*/
@media (min-width: 768px) {
.ui.grid>.column:not(.row).loginAltenative {
        padding-top: 100px;
    }
}
/*--------------------*/

.middleContainer{
    padding-top: 4%;
    padding-bottom: 2%;
}


