body{
    background-color: #ecfbff;
    background-repeat: no-repeat;
}

/*Link customization*/
.linkColor{
    color: #e79c25;
}

a.linkColor:hover{
    color: #e79c25;
}
section{
    height: 100vh;
    display: grid;
}
/*-------------------*/
.ui.text.container.middleContainer{
    margin: auto;
}


